/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/* Remove default values */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
}

/* Colors pallet */
:root {
    --red: #FF0000;
    --navy-blue: #1B212B;
    --sky: #7bb4e0;
    --light-blue: #b0d3e8;
    --light-orange: #FCCD4D;
    --orange: #F8B500;
    --gray:#445361;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: #445361;
    font-weight: 400;
}

/* Set up transparency of background image */
body::before {
    position: fixed;
    content: "";
    width: 100vw;
    height: 100vh;
    background: url(../images/tetris-background.png);
    background-color: var(--sky);
    background-repeat: repeat;
    background-size: cover;
    opacity: .9;
    z-index: -1;
}

/* Style of main game container */
#game-container {
    position: absolute;
    text-align: center;
    color: var(--navy-blue);
    width: 80%;
    height: 30rem;
    max-height: 30rem;
    max-width: 50rem;
    box-sizing: border-box;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    padding: 1%;
}

/* Style top line of the game container, icons and text inside it */
.top-line {
    line-height: 2.5rem;
    text-align: right;
    padding-bottom: 0.5rem;
}

.user-icon {
    font-size: 250%; 
    float: left;
}

/* username display */
.top-line p {
    float: left;
}

/* Style instructions icon and remove default background color */
#instructions-icon {
    background: none !important;
    font-size: 250%;
    float: right;
}

#login-screen {
    text-transform: uppercase;
}